.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h3{
    font-family: "Poppins", cursive;
    color:  #cdf85f;
    font-size: 1.9rem;
   
    margin-bottom: 10px;
}
.btn-cubico-primary{
    background:radial-gradient(#193b48,#181818);
    background-color: #193b48;
    border-color: #193b48;
    width: 150px;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    
}
.btn-cubico-primary:hover{
    background-color: #7daf00;

}
.btn-cubico-secondary{
    background-color: #7daf00;
    border-color: #7daf00;
}

.img-logo{
    
    width: 100%;
    padding: 30px;
  
}
.container-logo
{
border-radius: 100px;
width: 80%;
background: radial-gradient(#193b48,#181818);

}
.container-login{
    align-items: center;
    border-radius: 150px;
    background: linear-gradient(rgb(0, 0, 0,0.3),rgb(124, 0, 0,0.3));
    box-shadow: 7px 7px 60px#7daf00;
}

.txt-box{
    border-radius: 150px;
}